[submodule "concierge"]
	path = concierge
	url = git@github.com:gameontext/gameon-concierge.git
[submodule "logstash"]
	path = logstash
	url = git@github.com:gameontext/gameon-logstash.git
[submodule "mediator"]
	path = mediator
	url = git@github.com:gameontext/gameon-mediator
[submodule "player"]
	path = player
	url = git@github.com:gameontext/gameon-player
[submodule "proxy"]
	path = proxy
	url = git@github.com:gameontext/gameon-proxy
[submodule "room"]
	path = room
	url = git@github.com:gameontext/gameon-room
[submodule "room-nodejs"]
	path = room-nodejs
	url = git@github.com:gameontext/gameon-room-nodejs
[submodule "swagger"]
	path = swagger
	url = git@github.com:gameontext/gameon-swagger
[submodule "webapp"]
	path = webapp
	url = git@github.com:gameontext/gameon-webapp
