.gradle
.*.swp
.DS_Store
.vagrant
*.log
.gameontext*
gameon.?*env
docker-compose.override.yml
kubernetes/kubectl/configmap.yaml
kubernetes/kubectl/ingress.yaml
kubernetes/chart/gameon-system/values.yaml
slackin
scratch
