{{- if eq .Values.global.mode "development" }}
apiVersion: v1
kind: Service
metadata:
  name: couchdb
  namespace: gameon-system
  labels:
    app: {{ .Chart.Name }}-couchdb
    {{- include "gameon-system.labels" . }}
spec:
  ports:
    - port: 5984
      protocol: TCP
      targetPort: 5984
  selector:
    app: {{ .Chart.Name}}-couchdb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: couchdb-deploy
  namespace: gameon-system
  labels:
    app: {{ .Chart.Name}}-couchdb
    {{- include "gameon-system.labels" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $.Chart.Name }}-couchdb
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ .Chart.Name}}-couchdb
    spec:
      containers:
      - image: couchdb:2.2
        name: couchdb
        ports:
        - containerPort: 5984
          name: couchdb
{{ end }}
