version: '2.1'

services:

#  auth:
#    image: gameontext/gameon-auth:latest
#    build:
#      context: ../auth/auth-wlpcfg
#    ports:
#      - "9089:9080"
#      - "9449:9443"

#  map:
#    image: gameontext/gameon-map:latest
#    build:
#      context: ../map/map-wlpcfg
#    ports:
#      - "9099:9080"
#      - "9447:9443"

#  mediator:
#    image: gameontext/gameon-mediator:latest
#    build:
#      context: ../mediator/mediator-wlpcfg
#    ports:
#      - "9086:9080"
#      - "9446:9443"

#  player:
#    image: gameontext/gameon-player:latest
#    build:
#      context: ../player/player-wlpcfg
#    ports:
#      - "9082:9080"
#      - "9448:9443"

#  proxy:
#    image: gameontext/gameon-proxy:latest
#    build:
#      context: ../proxy
#    ports:
#      - "1936:1936"

#  room:
#    image: gameontext/gameon-room:latest
#    build:
#      context: ../room/room-wlpcfg
#    ports:
#      - "9080:9080"
#      - "9445:9443"

#  swagger:
#    image: gameontext/gameon-swagger:latest
#    build:
#      context: ../swagger
#    ports:
#      - "8081:8080"

#  webapp:
#    image: gameontext/gameon-webapp:latest
#    build:
#      context: ../webapp
#    ports:
#      - "8080:8080"
#    volumes:
#      - '../webapp/app/dist:/opt/www/public'

volumes:
  keystore:
    external: true
