apiVersion: v1
kind: Service
metadata:
  name: swagger
  namespace: gameon-system
  labels:
    app: gameon-swagger
spec:
  type: ClusterIP
  ports:
  - port: 8080
    name: http
  selector:
    app: gameon-swagger
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: swagger
  namespace: gameon-system
  labels:
    app: gameon-swagger
spec:
  template:
    metadata:
      labels:
        app: gameon-swagger
    spec:
      containers:
      - image: gameontext/gameon-swagger:lastgood
        name: swagger
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 40
